<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>
<!-- Copy and paste the events below into your events.xml file-->

<!-- Sedan -->
    <event name="VehicleCivSedan2">
        <nominal>2</nominal>
        <min>1</min>
        <max>3</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>0</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="0" type="CivSedan2_Blue"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="CivSedan2_CC"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="CivSedan2_ERDL"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="CivSedan2_Green"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="CivSedan2_Orange"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="CivSedan2_Pink"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="CivSedan2_Teal"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="CivSedan2_Urb"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="CivSedan2_Yellow"/>
        </children>
    </event>

<!-- Hatchback_02 -->
    <event name="VehicleHatchback02">
        <nominal>2</nominal>
        <min>1</min>
        <max>3</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>0</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Hatchback_02_CC"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Hatchback_02_ERDL"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Hatchback_02_Green"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Hatchback_02_Orange"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Hatchback_02_Pink"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Hatchback_02_Teal"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Hatchback_02_Urb"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Hatchback_02_White"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Hatchback_02_Yellow"/>
        </children>
    </event>

<!-- Offroad Hatchback -->
    <event name="VehicleOffroadHatchback">
        <nominal>2</nominal>
        <min>1</min>
        <max>3</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>0</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="0" type="OffroadGHatchback_Black"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="OffroadGHatchback_ERDL"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="OffroadGHatchback_Orange"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="OffroadGHatchback_Pink"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="OffroadGHatchback_Red"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="OffroadGHatchback_Teal"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="OffroadGHatchback_URB"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="OffroadGHatchback_Yellow"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="OffroadHatchback_CC"/>
        </children>
    </event>

<!-- Sedan_02 -->
    <event name="VehicleSedan02">
        <nominal>2</nominal>
        <min>1</min>
        <max>3</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>0</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Sedan_02_Black"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Sedan_02_Blue"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Sedan_02_CC"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Sedan_02_ERDL"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Sedan_02_Green"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Sedan_02_Orange"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Sedan_02_Pink"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Sedan_02_Teal"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Sedan_02_Urb"/>
        </children>
    </event>
</events>
