<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>

<!-- Copy and paste the section below into your events.xml file-->

<!-- Bags Cars-->
<!-- Olga -->
    <event name="VehicleCivilianSedan">
        <nominal>2</nominal>
        <min>1</min>
        <max>3</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>0</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Olga_Blue"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Olga_CC"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Olga_ERDL"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Olga_Green"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Olga_Orange"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Olga_Pink"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Olga_Teal"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Olga_Urb"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Olga_Yellow"/>
        </children>
    </event>
<!-- Gunter -->
    <event name="VehicleHatchback02">
        <nominal>2</nominal>
        <min>1</min>
        <max>3</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>0</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Gunter_CC"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Gunter_ERDL"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Gunter_Green"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Gunter_Orange"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Gunter_Pink"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Gunter_Teal"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Gunter_Urb"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Gunter_White"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Gunter_Yellow"/>
        </children>
    </event>
<!-- ADA -->
    <event name="VehicleOffroadHatchback">
        <nominal>2</nominal>
        <min>1</min>
        <max>3</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>0</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Ada_Black"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Ada_ERDL"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Ada_Orange"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Ada_Pink"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Ada_Red"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Ada_Teal"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Ada_Urb"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Ada_Yellow"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Ada_CC"/>
        </children>
    </event>
<!-- Sarka -->
    <event name="VehicleSedan02">
        <nominal>2</nominal>
        <min>1</min>
        <max>3</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>0</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Sarka_Black"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Sarka_Blue"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Sarka_CC"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Sarka_ERDL"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Sarka_Green"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Sarka_Orange"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Sarka_Pink"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Sarka_Teal"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Bags_Sarka_Urb"/>
        </children>
    </event>

<!-- Stop Here-->

</events>
